* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {
  display: block;
}

/* Page */

#page {
  max-width: 1440px;
  overflow-x: hidden;
  margin: 0 auto;
}

/* Building Grid Layout */

#grid {
  display: grid;
  grid-template-rows: 44.8px 50px 556.58px 59.62px 556.58px;
}
