* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {
  display: block;
}

/* Page */

#page {
  max-width: 1440px;
  overflow-x: hidden;
  margin: 0 auto;
}

/* Building Grid Layout */

#grid {
  display: grid;
  grid-template-rows: 44.8px 50px 556.58px 59.62px 556.58px;
}

/* GRID Placement  */

#grid .first_line {
  grid-row: 1;
}

#grid .second_line {
  grid-row: 3;
}

#grid .third_line {
  grid-row: 5;
}

/* GRID HEADER */

#grid-header {
  background-color: bisque;
  display: flex;
  align-items: center;
}

/* GRID HEADER CONTENT */

#grid-header .item_content {
  width: 489.9px;
  display: flex;
  justify-content: space-between;
}

/* GRID HEADER CONTENT STYLING */

.item_content span {
  font-size: 32px;
  font-weight: bold;
}

.item_content .first {
  color: #000000;
}

.item_content .second {
  color: #9b9b9b;
}

.item_content .third {
  color: #9b9b9b;
}

/* GRID MAIN SECTION */

.grid-item {
  background-color: bisque;
}

/* GRID MAIN SECTION CONTENT */

.grid-item .card {
  width: 330px;
  height: 514px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.grid-item .text_content {
  width: 142px;
  height: 53px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
