* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {
  display: block;
}

/* Page */

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

#page {
  max-width: 1440px;
  margin: 0 auto;
}

/* Building Grid Layout */

#grid {
  margin-top: 135px;
  display: grid;
  grid-template-rows: 44.8px 50px 556.58px 59.62px 556.58px;
}

/* GRID Placement  */

#grid .first_line {
  grid-row: 1;
}

#grid .second_line {
  grid-row: 3;
}

#grid .third_line {
  grid-row: 5;
}

/* GRID HEADER */

#grid-header {
  display: flex;
  align-items: center;
}

/* GRID HEADER CONTENT */

#grid-header .item_content {
  width: 489.9px;
  display: flex;
  justify-content: space-between;
}

/* GRID HEADER CONTENT STYLING */

.item_content span {
  font-size: 32px;
  font-weight: bold;
}

.item_content .first {
  color: #000000;
}

.item_content .second {
  color: #9b9b9b;
}

.item_content .third {
  color: #9b9b9b;
}

/* GRID MAIN SECTION */

.grid-item {
  display: flex;
  justify-content: space-between;
}

/* GRID MAIN SECTION CONTENT */

.second_line .card {
  width: 330px;
  height: 514px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.second_line .text_content {
  width: 163px;
  height: 53px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* MAIN SECTION FOR THIRD LINE */
.third_line .card {
  width: 330px;
  height: 549px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* MAIN SECTION CONTENT FOR SECOND LINE */
.third_line .text_content {
  width: 163px;
  height: 88px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.text_content .color {
  width: 46px;
  height: 20px;
  display: flex;
  justify-content: space-between;
}

/* MAIN SECTION CONTENT STYLING */

.text_content .name {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

.text_content .price {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}
